{% extends 'base.html.twig' %}

{% block title %}Modifier mon profile{% endblock %}

{% block body %}
<section class="styleform">

    <div class="parentform">
        <h1>Modifier mon profile</h1>
    
         {{ form_start(update_userform) }}
            {{ form_row(update_userform.lastname) }}
            {{ form_row(update_userform.firstname) }}
            
    
            <button type="submit" class="btn">Modifier</button>
        {{ form_end(update_userform) }}
     
    </div>
    </section>

    

{% endblock %}