
<aside>
    <article >
        <div class="header_aside">
            <h2>Categories</h2>
        </div>
        <div class="body_aside" >
            <p><a href="{{path('admin_categories_index')}}">Liste des categories</a></p>
            <p><a href="{{path('admin_categories_add')}}">Ajouter une categorie</a></p>
        </div>
    </article>
    <article >
        <div class="header_aside">
            <h2>Annonces</h2>
        </div>
        <div class="body_aside" >
            <p><a href="{{path('admin_annonces_index')}}">Liste des annonces</a></p>
            
        </div>
    </article>
</aside>
