{% extends 'base.html.twig' %}

{% block title %} gestion de l'administration {% endblock %}

{% block body %}

<section class="admin">


    {% include "partials/_navbaradmin.html.twig" %}

   <div class="content_admin">
    <h1> Gestion de l'administration</h1>
   </div>
       

       
</section>

{% endblock  %}